body, html {
    margin: 0;
    padding: 0;
    background: #fff;
    color: #555;
    font: 16px Arial, Helvetica, sans-serif;
}
#sitehead {
    margin: 0.5em 1em;
    color: #000;
}
.bold {
    font-weight: bold;
    color: #000;
}
#container {
    width: 100%;
}
#info {
    clear: both;
}
#wordchart {
    width: 100%;
}
#controlchart {
    width: 50%;
    height: 100px;
    float: right;
}
#stats {
    display: none;
}
#sourcetext {
    width: 45%;
    float: left;
    padding: 0 2.5%;
    background: #ddd;
}
#sourcetext #source {
    width: 100%;
    height: 30em;
    margin: 0;
    padding: 1px;
    border: 0 none;
    font: 16px Arial, Helvetica, sans-serif;
    background: #ddd;
    resize: none;
}
#result-html {
    width: 45%;
    height: 30em;
    float: left;
    padding: 0 2.5%;
    overflow-y: scroll;
    overflow-x: hidden;
    font: 20px Georgia, Times New Roman, serif;
    color: #000;
}
#show_stats:checked ~ #stats {
    display: block;
}
#debug_area {
    display: none;
}
